/* *{
    margin: 0;
    padding: 0;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.style-header{
   max-width: 1050px;
    margin: auto; 
}


.off-screen-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}
.link-row{
    display: flex;
}
.link{
    margin-left: 10px;
    color: rgb(85, 85, 85);
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.logo a{
    font-size: 30px;
    color: dimgray;
    font-family: Arial, Helvetica, sans-serif;
}
.mobile-logo{
    display: none;
}



/*------------------ start hero(second) section-------------------------*/
.hero{
    background-color: rgb(251, 240, 226);
    height: 610px;
}
.style-hero{
    max-width: 1050px;
    margin: auto;
}
.hero-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text h1{
    color: rgb(202, 71, 23);
    font-size: 35px;
    margin-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text p{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.work-time{
    margin-top: 100px;
}
.work-time p{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.img{
    position: relative;
    height: 550px;
    width: 550px;
}
.small-image{
    width: 300px;
    position: absolute;
}
.image-1{
    margin-top: 50px;
}
.image-2{
    right: 0;
    top: 100px;
}
.image-3{
    bottom: 0;
    right: 150px;
}

/* -------------------  SECTION 3 Offer --------------- */
.section-3{
    margin: 5rem 0;
}


.offer{
    display: flex;
    max-width: 1050px;
    margin: auto;
    justify-content: space-between;
}

.offer-name h2{
    font-size: 35px;
    color: rgb(202, 71, 23);
    font-family: "Gill Sans", sans-serif;
}
.offer-name p{
    font-size: 25px;
    font-family: "Gill Sans", sans-serif;
    color: rgb(40, 40, 40); 
    padding-left: 0;    
}

.offer-description-1{
    display: flex;
    margin-bottom: 70px;
}
.offer-description-1 li{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.offer-description-1 img{
    height: 32px;
}
.offer-description-1 div h3{
    margin-bottom: 15px;
    padding-left: 10px;
}
.offer-description-1 div p{
    padding-left: 10px;
    max-width: 300px;
    font-size: 17px;
    color: rgb(40, 40, 40);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


@media (max-width:1080px){
.off-screen-menu{
    background-color:rgb(239, 239, 239);
    height: 100vh;
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease; 
    
}
.off-screen-menu.active{
    right: 0;
}
nav{
    padding: 2rem;
    display: flex;
    align-items: center;
    
}
.desktop-logo{
    display: none;
}
.mobile-logo{
    display: inline;
    font-size: 30px;
    color: dimgray;
    font-family: Arial, Helvetica, sans-serif;
}
.link-row{
    display: flex;
    flex-direction: column;
}


.ham-menu{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;    
}
.ham-menu span{
    height: 5px;
    width: 100%;
    background-color: rgb(106, 106, 106);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    z-index: 111;
    
}
.link{
    margin: 30px 0;
    color: rgb(106, 106, 106);
    font-size: 30px;
}
.ham-menu span:nth-child(1){
    top: 25%;
}
.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);

} 
.ham-menu.active span:nth-child(2){
    opacity: 0;
}
.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}


/* ---------  hero section--------------- */

.hero{
    height: 730px;
}
.style-hero{
    max-width: 90%;
    margin-left: 5%;
}
.hero-row{
    display: flex;
    flex-direction: column;    
}
.text{
    margin-top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.img{
    position: relative;
    height: 300px;
    width: 0px;
    display: flex;
    justify-content: center;


}
.small-image{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-2, .image-3{
    display: none;
}


/* -------------------- SECTION OFFER ---------------------- */


.offer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 90%;
    margin-left: 5%;
}
.offer-description-1{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
.offer-name{
    margin-bottom: 40px;
}

.offer-name h2{
    
    text-align: center;
}
.offer-description-1 li{
    margin-bottom: 80px;
}

.offer-description-1 p{
    max-width: 100%;
}

}